.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  display: flex;
}

#quote-box {
  background-color: #E63946;
  align-self: center;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

#text, #author {
  color: #F1FAEE;
}

#buttons {
  display: block;
  width: 100%;
}

#tweet-quote {
  float: left;
  color: #F1FAEE;
  text-decoration: none;
  font-family: "Arial Black";
}

#new-quote {
  border: none;
  float: right;
  height: 3em;
  background-color: #B61624;
  color: #F1FAEE;
  font-family: "Arial Black";
  cursor: pointer;
}
